@model VännerViewModel
@using Microsoft.AspNetCore.Identity
@using Datalager
@using Datalager.Models
@inject UserManager<Registrerad> _userManager

<link rel="stylesheet" href="~/css/Start.css" />
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Dina vänförfrågningar";
}

@if (Model.Vänförfrågningar.Count() >= 1)
{
    <h1>Det finns @Model.Vänförfrågningar.Count() nya vänförfrågningar</h1>

    @foreach (var vänförfrågan in Model.Vänförfrågningar)
    {
        <div class="flex">
            <div class="exempelperson">
              <img class="profilbild" src="@_userManager.FindByIdAsync(vänförfrågan.FörfrågareID).Result.BildNamn" alt="Bild saknas" />
              <a href="/Profil/@vänförfrågan.FörfrågareID" class="Profil">@_userManager.FindByIdAsync(vänförfrågan.FörfrågareID).Result.Förnamn  @_userManager.FindByIdAsync(vänförfrågan.FörfrågareID).Result.Efternamn</a>

               <input type="button" class="btn btn-primary btn-sm" style="float:right; margin-right: 50%;" value="Acceptera vänförfrågan" onclick="location.href='@Url.Action("AccepteraVänförfrågan", "Vänner", new { id = vänförfrågan.FörfrågareID})'" />

               <input type="button" class="btn btn-primary btn-sm" style="float:right" value="Avvisa vänförfrågan" onclick="location.href='@Url.Action("AvvisaVänförfrågan", "Vänner", new { id = vänförfrågan.FörfrågareID})'" />

              </div>
        </div>

      }
}
else
{
         <h1 class="align-middle text-center">Du har inga nya vänförfrågningar</h1>
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
