@{
    ViewData["Title"] = "Profil";
}
@using Microsoft.AspNetCore.Identity
@using Dejtingsida.Models;
@using Datalager.Models;
@model Dejtingsida.Models.AnvandareViewModel;
@inject UserManager<Registrerad> _userManager;

<link rel="stylesheet" href="~/css/Start.css" />
<div class="container-fluid mt-3">
    <div class="row col-sm-2 float-right">
        <img src="@Model.Anvandare.BildNamn" class="img-thumbnail float-right mx-auto profil">
    </div>
    <div class="col-sm-10 float-left">
        <dl class="row float-left">
            <dt class="col-sm-3">Förnamn</dt>
            <dd class="col-sm-7">@Model.Anvandare.Förnamn</dd>

            <dt class="col-sm-3">Efternamn</dt>
            <dd class="col-sm-7">@Model.Anvandare.Efternamn</dd>

            <dt class="col-sm-3">Född år:</dt>
            <dd class="col-sm-7">@Model.Anvandare.Födelsedatum.ToString("yyyy")</dd>

        </dl>
    </div>

    <div class="clearfix"></div>

    @if (Model.Anvandare.Id.Equals(_userManager.GetUserId(User)))
    {
        <a href="@Url.Action("Index", "Vänner")" class="btn btn-primary">Mina vänner</a>
    }

    else if (!Model.Anvandare.Id.Equals(_userManager.GetUserId(User)))
    {
        <div class="col-md-2">
            <input type="button" class="btn btn-primary pull-right" id="skickaVänförfrågan" value="Skicka vänförfrågan" onclick="location.href='@Url.Action("SkickaVänförfrågan", "Vänner", new { id = Model.Anvandare.Id})'" />
        </div>
        <h4 class="col-sm-9 float-left text-left">Inlägg</h4>
        <div class="nyttInlägg">
            <a class="inlägg">Skriv ett inlägg</a>
            <textarea id="postInnehåll" class="form-control" rows="5" style="resize:none;"></textarea>
            <input id="post" type="submit" value="Skicka inlägg" class="btn btn-primary" ) />
        </div>
    }

    @if (!Model.InläggLista.Where(text => text.MottagareID.Equals(Model.Anvandare.Id)).Any())
    {
        <h1>Inga inlägg</h1>
    }
    else
    {
        foreach (var text in Model.InläggLista.Where(text => text.MottagareID.Equals(Model.Anvandare.Id)).OrderByDescending(text => text.Skapad))
        {
            <div class="Text" style=" background-color:white;">
                <div class="">
                    <h5 class="" style="padding-top:5px; padding-left:5px">
                        Medelande från
                        <a asp-controller="Profil" asp-route-id="@text.SkickareID" style="color: black; padding-top:5px; padding-left:5px">
                            @_userManager.FindByIdAsync(text.SkickareID).Result.Förnamn
                        </a>
                    </h5>
                    <h6 class="Text" style="padding-top:5px; padding-left:5px">@text.Skapad.ToLocalTime().ToString("yyyy-MM-dd  HH:mm")</h6>
                    <p class="Text" style="padding-top:5px; padding-left:5px">@text.Message</p>
                </div>
            </div>
        }
    }

</div>
<div class="clearfix"></div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#skickaVänförfrågan").on("click", function () {
                alert('En vänförfrågan har skickats');
            });
        });
    </script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#post').click(function () {
            var text = $('#postInnehåll').val();
            var id = "@Model.Anvandare.Id";
            var meddelande = {
                Message: text,
                MottagareID: id
            };

            if (text != "") {
                $.ajax({
                    url: "/api/api/skickapost/",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(meddelande)
                }).done(function (result) {
                    alert('Ditt inlägg har postats');
                });
                setTimeout(function () { window.location = window.location; }, 500);
            }
        });
    });
</script>