@{
    ViewData["Title"] = "Profil";
}
@using Microsoft.AspNetCore.Identity
@using Datalager.Models;
@using Dejtingsida.Models;
@using Datalager;

@inject UserManager<Registrerad> _userManager
@inject DejtingContext _DejtingContext
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery

@*Profile content*@
<link rel="stylesheet" href="~/css/Start.css" />
<div class="container-fluid mt-3">
    <div class="row col-sm-2 float-right">
        <img src="@Model.Anvandare.BildNamn" class="img-thumbnail rounded float-right mx-auto profile-image-large">
    </div>
    <div class="col-sm-10 float-left">
        <dl class="row float-left">
            <dt class="col-sm-3">Förnamn</dt>
            <dd class="col-sm-7">@Model.Anvandare.Förnamn</dd>

            <dt class="col-sm-3">Efternamn</dt>
            <dd class="col-sm-7">@Model.Anvandare.Efternamn</dd>

            <dt class="col-sm-3">Född år:</dt>
            <dd class="col-sm-7">@Model.Anvandare.Födelsedatum.ToString("yyyy")</dd>

        </dl>
    </div>

    <div class="clearfix"></div>

    <a href="@Url.Action("Index","Vänner")" class="btn btn-primary btn-lg">Mina vänner &raquo;</a>

    <h4 class="col-sm-9 float-left text-left">Inlägg</h4>

    @*Dont show form if you're viewing your own profile*@
    @*@if (!Model.User.Id.Equals(_userManager.GetUserId(User)))
        {

            <span class="col-sm-3 float-right text-right">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".newMessageForm" aria-expanded="false" aria-controls="newMessageForm">
                    Compose new message
                </button>
            </span>

            <div class="clearfix"></div>

            <div class="card m-3 newMessageForm collapse" id="newMessageForm">
                <form method="get" aria-expanded="false">
                    <div class="form-group">
                        <textarea id="messageContent" class="p-1 form-control"></textarea>
                        <span id="errorMessage" class="text-danger pl-2 pt-2" style="display:none">The message can not be empty...</span>
                        <div class="clearfix"></div>
                        <input class="float-right submitNewMessage btn btn-outline-primary m-2 p-2" type="submit" value="Send" />

                    </div>
                </form>
            </div>

        }
        <div class="clearfix"></div>*@
